.Profile-Update-Page {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100svh;
    align-items: center;
    flex-direction: column;
}

.Form-Container {
    position: relative;
    display: flex;
    z-index: 2;
    gap: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    align-items: center;
    flex-direction: column;
    min-width: max-content;
}

.Form-Container>svg {
    position: absolute;
    bottom: 0;
    width: 120%;
    transform: rotate(180deg);
}

.Input-Section {
    position: relative;
    width: min(450px, 90%);
    display: flex;
    gap: 12px;
    padding: 20px 10px;
    border-radius: 8px;
    min-width: fit-content;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(230, 230, 250, 0.5);
    border-left: 3px solid rgba(0, 0, 139, 0.64);
    border-right: 3px solid rgba(0, 0, 139, 0.64);
    border-bottom: 3px solid rgba(0, 0, 139, 0.64);
}

.Input-Section:nth-child(even) {
    animation: Input-section-fade-left 1s ease 1;
}

.Input-Section:nth-child(odd) {
    animation: Input-section-fade-right 1s ease 1;
}

.Section3>span,
.social-Links>span,
.Input-Section>label {
    font-size: large;
    font-weight: bold;
    color: var(--Color3);
}

.Form-Btns {
    cursor: pointer;
    display: flex;
    width: 80px;
    height: 32px;
    margin-top: 10px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    width: min(400px, 90%);
    height: 38px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 6px;
    padding-inline-start: 12px;
    border-left: 2.2px solid var(--Color3);
    border-right: 2.2px solid var(--Color3);
    background-color: rgba(255, 240, 245, 0.9);
}

.Input-Section>textarea {
    width: 100%;
    height: 160px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 8px;
    padding-inline-start: 12px;
    border-top: 3px solid var(--Color3);
    border-bottom: 3px solid var(--Color3);
    background-color: rgba(255, 240, 245, 0.9);
}

input[type="file"] {
    display: none;
}

.File-Label-Container {
    display: flex;
    gap: 12px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    justify-content: space-around;
}

.File-Label-Container>label {
    display: flex;
    padding: 4px;
    width: 142px;
    height: 140px;
    overflow: hidden;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    color: var(--Color3);
    justify-content: center;
    box-shadow: 0 0 4px black;
    background: radial-gradient(rgba(255, 240, 245, 0.5), rgba(245, 222, 179, 0.6));
}

.FileName-Field {
    position: relative;
    color: #ff3366;
    transform: scaleY(1.2);
    overflow-wrap: anywhere;
}

.Form-Btns-Container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input[type="submit"] {
    width: min(200px, 50%);
    height: 38px;
    border: none;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    border-radius: 18px;
    box-shadow: 0 0 4px black;
    background-color: rgba(255, 20, 145, 0.7);
}

.VisibilityBtn-text {
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    color: var(--Color3);
    transform: scaleY(1.2) translateY(3px);
}

.VisibilityFlag-text {
    position: absolute;
    top: 36px;
    right: 22px;
    font-size: 14px;
    font-weight: bold;
    color: var(--Color2);
}

#ViewProfile {
    display: none;
}

#ViewProfile~label {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 25px;
    border-radius: 12px;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 4px,
        inset 2px 3px 4px rgba(0, 0, 0, 0.2),
        inset -2px -3px 4px rgb(255, 255, 255);
    background-color: rgba(240, 248, 255, 0.5);
}

#ViewProfile~label::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: 99;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    transition: all 0.4s;
    background-color: var(--Color3);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
}

#ViewProfile:checked~label::after {
    left: calc(100% - 25px);
    background-color: var(--Color2);
}

@media (width<=820px) {

    .Form-Container {
        height: 80vh;
        justify-content: center;
    }

    .Input-Section {
        position: absolute;
        min-height: 300px;
        visibility: hidden;
        width: min(320px, 90%);
    }

    .section-active {
        z-index: 99;
        visibility: visible;
    }

    .Form-Container>svg {
        visibility: hidden;
    }
}