.Profile-Update-Page {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100svh;
    align-items: center;
    flex-direction: column;
}

.Form-Container {
    position: relative;
    display: flex;
    z-index: 2;
    gap: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    align-items: center;
    flex-direction: column;
    min-width: max-content;
}

.Form-Container>svg {
    position: absolute;
    bottom: 0;
    width: 120%;
    transform: rotate(180deg);
}

.Input-Section {
    width: min(450px, 90%);
    display: flex;
    gap: 12px;
    padding: 20px 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px;
    min-width: fit-content;
    flex-direction: column;
    backdrop-filter: blur(5px);
    justify-content: space-around;
    background-color: rgba(230, 230, 250, 0.5);
}

.Input-Section:nth-child(even) {
    animation: Input-section-fade-left 1s ease 1;
}

.Input-Section:nth-child(odd) {
    animation: Input-section-fade-right 1s ease 1;
}

.Input-Section>div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Section3>span,
.social-Links>span,
.Input-Section>label {
    font-size: large;
    font-weight: bold;
    color: var(--Color3);
}

.Form-Btns {
    display: flex;
    width: 80px;
    height: 32px;
    margin-top: 10px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    width: min(400px, 90%);
    height: 38px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    padding-inline-start: 12px;
    background-color: lavenderblush;
}

.Input-Section>textarea {
    width: 100%;
    height: 160px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    padding-inline-start: 12px;
    background-color: lavenderblush;
}

input[type="file"] {
    display: none;
}

.File-Label-Container {
    display: flex;
    width: 100%;
    height: 120px;
}

.File-Label-Container>label {
    display: flex;
    width: 48%;
    height: 100%;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    color: var(--Color3);
    justify-content: center;
    box-shadow: 0 0 4px black;
    background-color: rgba(255, 240, 245, 0.5);
}

input[type="submit"] {
    width: min(200px, 50%);
    height: 38px;
    border: none;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    border-radius: 18px;
    box-shadow: 0 0 4px black;
    background-color: rgba(255, 20, 145, 0.7);
}


@media (width<=820px) {

    .Form-Container {
        height: 80vh;
        justify-content: center;
    }

    .Input-Section {
        position: absolute;
        min-height: 300px;
        visibility: hidden;
        width: min(320px, 90%);
    }

    .section-active {
        z-index: 99;
        visibility: visible;
    }

    .Form-Container>svg {
        visibility: hidden;
    }
}